body { font-family: 'Roboto', sans-serif; font-weight: 100; }
h1, h2, h3, h4, h5, h6 { font-family: 'Roboto', sans-serif; font-weight: 900; }
footer { text-align: right; }
.jumbotron { background-color: rgba(255, 224, 0, .2); #ffe000; }
