body { font-family: 'Roboto', sans-serif; font-weight: 300; }
h1, h2, h3, h4, h5, h6 { font-family: 'Roboto', sans-serif; font-weight: 900; }
footer { text-align: right; }
.jumbotron { background-image: url(/images/bg.jpg); background-size: cover; background-repeat: no-repeat; padding-top: 100px; padding-bottom: 100px; }
